---
page_title: "{{.RenderedProviderName}} Provider - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.RenderedProviderName}} Provider

{{ .Description | trimspace }}

## Features

This provider offers the following features.

- Configurable platform specific scripting environment
- Strongly typed input variables
- Strongly typed output value
- Access to current state in scripts
- Custom error details
- Script logging

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
